<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new dojos</title>
    <style>
        .bigbody {
            display: flex;
            justify-content: space-evenly;
        }

        .list {
            list-style-type: none;
            border: 2px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="bigbody">
        <div class="left">
            <form action="/create" method="POST">
                <h1>New Dojo</h1>
                <p>Name:<input type="text" name="name" value=""></p>
                <br><br>
                <button>Create</button>
            </form>
        </div>
        <div class='right'>
            <h1>All Dojos</h1>
            <div>
                <ul class="list">
                    {% for dojo in dojos %}
                    <a href="/dojos/{{dojo.id}}"><li>{{dojo.name}}</li></a>
                    {% endfor %}
                </ul>
                <a href="/newNinja"><p>Add ninja</p>
                </a>
            </div>

        </div>
    </div>
</body>

</html>