<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New ninja</title>
    <style>
        .button {
            box-shadow: 3px 3px black;
        }
    </style>
</head>

<body>
    <div>
        <h1>New Ninja</h1>
        <form action="/processNinja" method="POST">
            <label for="dojo">Dojo:</label>
            <select name="dojo_id" id="dojo">
                {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>
            <p>First Name:<input type="text" name="first_name"></p>
            <p>Last Name:<input type="text" name="last_name"></p>
            <p>Age:<input type="text" name="age"></p>
            <button class="button">Create</button>
        </form>
        <br><br>
        <!-- <a href="/theNinjas"></a> -->
    </div><br><br><br>
    <a href="/allDojos">
        <h4>Home</h4>
    </a>
</body>

</html>