<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard / log in</title>
    <style>
        .header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .tables {
            border: 2px solid black;
        }

        .logout {
            background-color: aqua;
            border-radius: 10px;
            padding: 15px;
            margin: 15px;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>Howdy, {{session.first_name}}!!!</h1>
        <a href="/addshow">+ Create</a>
        <a href="/logout">Logout</a>
    </div>
    <h2>All TV Shows:</h2>
    <table class="tables">
        <thead>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td>
                {% if session[user_id] != show.user.id %}
                    <a href="/display/{{show.id}}">View</a>
                {% endif %}
                {% if session['user_id'] == show.user.id %}
                    <a href="/edit/{{show.id}}">Edit</a>
                    <a href="/delete/{{show.id}}">Delete</a>
                {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>