<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        .links {
            display: flex;
            justify-content: space-between;
            margin: 5px;
        }
    </style>
</head>

<!-- ENTER VALIDATIONS -->

<body>
    <div class="links">
        <h1>Edit {{show.title}}</h1>
        <a href="/dashboard">TV Shows</a>
        <a href="/logout">Logout</a>
    </div>

    {% for message in get_flashed_messages() %}
    <p style="font-weight: bold; color: lawngreen;">{{message}}</p>
    {% endfor %}
    
    <form action="/update" method="POST">
        <input type="hidden" name="id" value="{{show.id}}">
        <h3>Title:</h3>
        <input type="text" name='title' value= "{{show.title}}">
        <br>
        <h3>Network:</h3>
        <input type="text" name="network" value="{{show.network}}">
        <br>
        <h3>Release date:</h3>
        <input type="date" name="release_date" value="{{show.release_date}}">
        <br>
        <h3>Description:</h3>
        <input type="text" size="50" name="description" value="{{show.description}}"></input>
        <br><br>

        <input type="submit" value="update">
    </form>

</body>

</html>