<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Recipe</title>
    <style>
        .head {
            display: flex;
            justify-content: space-evenly;
            align-items: center
        }

        .miniHead {
            display: flex;
            justify-content: space-evenly;
            align-items: center
        }
        .border {
            border: 3px solid mediumseagreen;
            width: 50%;
            margin-left: 15%;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="head">
        <h1>Welcome, </h1>
        <a href="#">back to recipes</a> <a href="#">logout</a>
    </div>
    <div class="miniHead">
        <h2>insert ganja here</h2>
        <h3>Posted by: ganja</h3>
    </div>
    <div class="border">
        <p>Description:</p>
        <p>Under 30 Minutes?</p>
        <p>Instructions:</p>
        <p>Date Made:</p>
    </div>
</body>

</html>