<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Recipe</title>
<style>
    .container {
        display: flex;
        justify-content: space-evenly;
    }
    h1 {
        margin-left: 15%;
    }
</style>
</head>

<body>
    <h1>Recipe Share</h1>
    <div class="container">
        <div>
            <h2>Register</h2>
            <form action="" method="">
                <p>First Name: <input type="text" name="first_name"></p>
                <p>Last Name: <input type="text" name="last_name"></p>
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="text" name="pw_hash"></p>
                <p>Confirm PW: <input type="text" name=""></p>
                <button>Submit</button>
            </form>
        </div>
        <div>
            <h1>Log in</h1>
            <p>Email: <input type="text" name=""></p>
            <p>Password: <input type="text" name=""></p>
            <button>Submit</button>
        </div>
    </div>
</body>

</html>