<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Recipe</title>
    <style>
        .right {
            display: flex;
            align-items: center;
        }

        .tables {
            border: 2px solid blue;
        }
    </style>
</head>

<body>
    <h1>Welcome, </h1>
    <div class="right">
        <p>All posted recipes:</p>
        <a href="#">+Create</a><a href="#">Logout</a>
    </div>
    <table class="tables">
        <tr>
            <th>Name</th>
            <th>Under</th>
            <th>Posted By</th>
            <th>Actions</th>
        </tr>
        <!-- for loop -->
        <tr>
            <td></td>
        </tr>
        <!--  -->
    </table>
</body>

</html>