<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user cr</title>
    <style>
        .main_table {
            border: 2px solid black;
            padding: 15px;
        }
    </style>
</head>
<body>
    <h1>All Users</h1>
    <table class="main_table">
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>last name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td><a href="/displayUser/{{user.id}}">Show</a> | <a href="/editUser/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3><a href="/addUsers">Add a New User</a></h2>
</body>
</html>