<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logged in</title>
    <style>
        .logout {
            background-color: aqua;
            border-radius: 10px;
            padding: 15px;
            margin: 15px;
        }
    </style>
</head>
<body>
    <h1>Welcome {{session.first_name}}</h1> <!--insert some ginja-->
    <a href="/logout">
        <button class="logout">Logout</button>
    </a>
    <!-- <form action="/logout">
    <button class="logout">Logout</button>
    </form> -->
</body>
</html>
